@model Models.Paiement.Paiement

@{
    ViewData["Title"] = "Enregistrer Paiement";
}

<h2>Enregistrer un Paiement</h2>

<form method="post">
    <input type="hidden" name="commandeId" value="@ViewData["commandeId"]" />
    <div class="form-group">
        <label for="TypePaiement">Type de Paiement</label>
        <select id="TypePaiement" name="TypePaiement" class="form-control" required>
            <option value="OM">OM</option>
            <option value="Wave">Wave</option>
            <option value="Chèque">Chèque</option>
        </select>
    </div>

    <div class="form-group">
        <label for="Montant">Montant</label>
        <input type="number" id="Montant" name="Montant" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="Reference">Référence</label>
        <input type="text" id="Reference" name="Reference" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">Enregistrer</button>
</form>
